deepface>=0.0.79
paddleocr>=2.7.0
opencv-python>=4.7.0
paddlepaddle>=2.6.2
paddlepaddle-gpu>=2.6.2
pyyaml>=6.0
tqdm>=4.66.1
faiss-cpu>=1.7.3
numpy>=1.20.0
pandas>=0.23.4
Pillow>=5.2.0
keras>=2.2.0
retina-face>=0.0.14
opencv-contrib-python>=4.3.0.36
mediapipe>=0.8.7.3
ultralytics>=8.0.122
#facenet-pytorch>=2.5.3
insightface>=0.7.3
onnxruntime>=1.9.0
#tensorflow[and-cuda]
#tensorflow>=1.9.0
#dlib>=19.20.0
psutil
